# Dependency directories
node_modules/

# Build directories
dist/
build/
out/
release/

# Local databases
database/*.sqlite
database/*.db

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
